@media (max-width: 1200px) {
  .form-header {
    width: 300px;
    height: 100px;
  }
  .form-conteiner {
    width: 90%;
    margin: 0 auto;
  }

  .div1 {
    width: 500px;
    height: 200px;
  }
  .inputs {
    max-width: 300px;
  }

  .section-2-conteiner {
    /* flex-direction: column; */

    align-items: center;
    margin-top: 20px;
  }
  .info {
    max-width: 200px;
  }

  .galerie-conteiner {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  /* .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  } */
}
@media (max-width: 1024px) {
  .form {
    flex-direction: column;
  }

  .div1 {
    margin-bottom: 10px;
  }
  .inputs {
    max-width: 500px;
  }
  .contact {
    align-items: center;
  }
  .section-2-conteiner {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .galerie-conteiner {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
